
sudo: required
language: java

jdk:
  - oraclejdk8



script:
  - mvn clean cobertura:cobertura -Dtest=PostSAML2ClientTests#testRelayState -DfailIfNoTests=false

before_deploy:
- tar -zcvf coverage-result.tar.gz /home/travis/build/leusonmario/pac4j/target/site/cobertura

deploy:
  provider: releases
  api_key:
    secure: "MuKmgeQ8g+7mY0t5Hm4wrThFKhODyFszR9iIJLM2NcDWHKk9gRbdXvIcMXTMf2oTp/sjUmxwqFwP7oVLSYV7XXLMdLZXssBwFwdb+/Te+a5gAZ02vK49cHaZfhiBQIOrs4ehsetn3TqjqVUYPejrxxq7POPaCcnoQnqQJOLjSfrrTkjZrZ6ayrWq2/nvr3nDGyest+Fizc0dCh/dNE7z1SShp0td7D/mcMvC5UwG+uvohsPN/ZY9b5EoDQgp3Iz/K+JP39pcAT7s89S6kJ4m0SSM5Afr2K8h0V0KKCQS/bI4NI4zqX61mljX/izr4O8818hSsOMMUHzAzqmbmpJ5Qh+RqVGAYUrtvBMvE4XneBLJCwTpWm2kxbaCaSBevl/9R/3d26tEeVoPq/REIKmAJq0Um3g6UgiNbARQMsv0xazb1lBcs2Kma/+MF5nNYI9Abvc98tt4XH1LLPCH8WiXXxh34LRjZ2pL7KY9lHuDJYf8+TOBmEEQP3/oa0zLEvCy16+ksfLAVi7iDYtjXM0/HUo0JloWxRTntwAXF3LshOJc5WYoNskZLm3FPvNkEoC1frPlfqp1JN27ra5Bfc9Yn0J2nhVbdeutEvL/5v6eKoL/kckLtM0FyRBhZaP+9V72B9bybCfulWtrZxjbEUoi/OsfBq1xcaD4IyQk3hGZjdQ="


  file: coverage-result.tar.gz
  file_glob: true
  overwrite: true
  skip_cleanup: true
  on:
    tags: true
